<head>
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container-fluid padding-inside-top-md padding-inside-bottom-md container-fluid text-center">
<h1>Rock, Paper, and Scissors</h1>

<p>Select one of the choices to get started</p>

<p>Once you have chosen a choice, refresh to choose the same choice, or click an icon to change!</p>
<a href="/rock"
  <i class="fa fa-hand-rock-o fa-3x" aria-hidden="true"></i>

</a>

<a href="/scissors">
  <i class="fa fa-hand-scissors-o fa-3x" aria-hidden="true"></i>
</a>

<a href="/paper">
  <i class="fa fa-hand-paper-o fa-3x" aria-hidden="true"></i>
</a>


</body>
