<head>
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container-fluid padding-inside-top-md padding-inside-bottom-md container-fluid text-center">


  <h1>You played  <i class="fa fa-hand-scissors-o fa-3x" aria-hidden="true"></i>
</h1>

  <!-- <h1>
    The computer played

    <%= computer_move = ["rock", "paper", "scissors"].sample %>
  </h1> -->

  <h1>
    Computer played

    <i class="fa fa-hand-<%= computer_move %>-o fa-3x" aria-hidden="true"></i>

  </h1>

  <h1>
    <% if computer_move == "scissors" %>
      You tied!
    <% elsif computer_move == "rock" %>
      You lose!
    <% else %>
      You win!
    <%end %>
  </h1>



  <a href="/rock">
    Play Rock
  </a>

  <a href="/scissors">
    Play Scissors
  </a>

  <a href="/paper">
    Play Paper
  </a>
</body>
